.column {
  width: 300px;
  display: inline-block;
}

.main {
width: 1200 px;
margin: 0 auto;
}

img {
  width: 200px;
  height: 120px;

}

h1 {
  text-align: center;
}

body{
text-align: center;
}

.column ul {
  font-style: italic;
  text-align: left;
  margin: 50px;
  float: center;
}

.contact {
  border: 10px;
  background-color: green;
  float: left;
}