.column {
  width: 300px;
  display: inline-block;
}

.main {
width: 1200 px;
margin: 0 auto;
}

img {
  width: 200px;
  height: 120px;

}

h1 {
  text-align: center;
}

body{
  text-align: center;
  color: black;
  background-color: white;
}

.column ul {
  font-style: italic;
  text-align: left;
  margin: 50px;
  float: center;
}

.contact {
  border: 10px;
  background-color: green;
  float: right;
  width: 300px;
}

@media screen and (min-width: 768px) {
  .column {
    border: 10px dotted;
    background-color: palevioletred;
  }
}

@media screen and (max-width: 768px) {
  body {
    color: white;
    background-color: violet;
  }
}

@media all and (max-width: 480px) {
  body {
    color: white;
    background-color: navy;
  }
}